<div class="row">
  <div class="col mt-3">
  <h1>Sondage sur les sondages</h1>
  <form 
    [formGroup]="surveyForm"
    (ngSubmit)="onSubmit()" >
  <div formGroupName="questions" *ngIf="currentState == 'questions'">
    <label class="form-label" for="response1">Quels sont vos 3 thèmes préférés, séparés par des
      virgules&nbsp;?</label>
      <br />  
    <input class="form-control" type="text" text="response1" formControlName="response1">
    <br />

    <br />
    <fieldset>
    <legend>Aimez-vous répondre à des sondages&nbsp;?</legend>
    
    <input class="form-check-input" type="radio" value="yes" name="response2" formControlName="response2">
    <label class="form-check-label" for="response2">Oui</label>
    <br />  
    <input class="form-check-input" type="radio" value="no" name="response2" formControlName="response2">
    <label class="form-check-label" for="response2">Non</label>
    </fieldset>

    <fieldset>
      <legend>Quelles couleurs aimez-vous&nbsp;?</legend>
      <!-- TODO: -->
      <input *ngFor="let  " class="form-check-input" type="checkbox">
    </fieldset>
  </div>
    <br />
    <br />
  <div formGroupName="coordonnees" *ngIf="currentState == 'coordonnees'">
    <h2>Coordonnées</h2>
    <label class="form-label" for="nom">Quelle est votre nom&nbsp;?</label>
      <br />  
    <input class="form-control" type="text" text="nom" formControlName="nom">

    <br />
    <br />
    <label class="form-label" for="email">Quelle est votre adresse email&nbsp;?</label>
      <br />  
    <input class="form-control" type="text" text="email" formControlName="email">
  </div>
    <br />
    <br />

  <div class="recap">
    <h2>Récapitulatif</h2>
    <h3>Quels sont vos 3 thèmes préférés, séparés par des virgules&nbsp;?</h3>
    <!-- <p>{{ response1 }}</p> -->
    <ul>
      <li *ngFor="let theme of themes">{{ theme }}</li>
    </ul>


    <h3>Aimez-vous répondre à des sondages&nbsp;?</h3>
    <p>{{ response2 }}</p>

    <h2>Coordonnées</h2>
    <p><strong>Nom&nbsp;: </strong>{{ nom }}</p>
    <p><strong>Email&nbsp;: </strong>{{ email }}</p>


  </div>

    <button class="btn my-3" *ngIf="currentState != 'questions'" (click)="goBack()" >Précédent</button>
    <input class="btn btn-primary my-3" type="submit" value="Envoyer">
  </form>
  </div>
</div>